@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@200&family=Readex+Pro:wght@500&display=swap');


p{
    font-family: 'Readex Pro', sans-serif;
    font-size:xxx-large;
    color: oldlace;
}


    .grid_col{
        border: solid navy;
    }


    #form_signup{
    background-color: antiquewhite;
    border: solid seashell;
    border-radius: 25px;
    }

    div.center {
        height: 100vh;
        background: dimgrey;
        background-image: url("https://cdn.pixabay.com/photo/2021/06/24/11/18/background-6360865_1280.png");
        background-repeat: no-repeat;
        background-size: cover;

       }
       

    i.icons .icon {
        position:absolute;
        top:60%  !important;
        left:7% !important;
        transform:translateX(-50%) translateY(-50%);
        margin:0;
        margin:0
       }
       


