/* #avatar{
    height: 50px !important;
    width: 50px !important;
    border: solid maroon;
    border-radius: 30px;

} */

@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@200&family=Readex+Pro:wght@500&display=swap');


.center > div:nth-child(1) {
    /*! margin-left: 192px; */display: flex;
    justify-content: center;
    width: 1378px;
   }
   

  .massive > div:nth-child(1) > a:nth-child(1) > img:nth-child(1) {
    height: 70px;
    width: 70px;
    border: solid gainsboro;
    border-width: 4px;
    
   }
   

   #logo_btn > a:nth-child(1) {
    /* width: 1641px; */
    width: auto;
    border: solid seashell;
    display: flex;
    justify-content: center;
   }
   


   #logo {
    border:solid transparent;
    margin-top: 15px;
    font-size: 51px;
    margin-left: -54px;
    font-family: 'Readex Pro', sans-serif;
    color: #d37556;
   }